* {
	margin: 0;
}
html {
	scroll-behavior: smooth;
	background-color: #1f2937;
}

.text-dark {
	color: #1f2937;
}
.text-light {
	color: #bae6fd;
}
.bg-dark {
	background-color: #1f2937;
}
.bg-light {
	background-color: #bae6fd;
}
.webgl {
	position: fixed;
	top: 0;
	left: 0;
}

.border-custom {
	border-width: 20px;
	border-image: repeating-radial-gradient(circle at 10px, #bae6fd, #bae6fd) 1;
}

.font-elite {
	font-family: 'Special Elite', cursive;
}

.border-striped {
	background-color: transparent;
	/* display: inline-flex; */
	border: 15px solid #bae6fd;
	border-image: repeating-linear-gradient(
			130deg,
			#bae6fd,
			#bae6fd 20px,
			transparent 20px,
			transparent 40px
		)
		20;
}

.neon {
	animation: glow 1s ease-in-out infinite alternate;

	text-shadow: 0 0 10px #bae6fd, 0 0 20px #bae6fd, 0 0 30px #bae6fd,
		0 0 40px #bae6fd, 0 0 50px #bae6fd, 0 0 60px #bae6fd, 0 0 60px #bae6fd;
}
