* {
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}


.text-dark {
	color: #0c4a6e;
}
.text-light {
	color: #bae6fd;
}
.bg-dark {
	background-color: #0c4a6e;
}
.bg-light {
	background-color: #bae6fd;
}
.webgl {
	position: fixed;
	top: 0;
	left: 0;
}

.border-custom {
	border-width: 20px;
	border-image: repeating-radial-gradient(circle at 10px, #bae6fd, #bae6fd) 1;
}

.font-elite {
	font-family: 'Special Elite', cursive;
}

