* {
	margin: 0;
	padding: 0;
}

.webgl {
	position: fixed;
	top: 0;
	left: 0;
}

.border-custom {
	border-width: 20px;
	border-image: repeating-radial-gradient(circle at 10px, #bae6fd, #bae6fd) 1;
}

.font-elite {
	font-family: 'Special Elite', cursive;
}
